<!DOCTYPE html>
<html>
<head>
  <title>SUBJECTS</title>
  <style>
    table{width:500px;border:1px solid #333;}
    table th{padding:5px;background: #ccc; text-align: left;}
    table td{padding:5px;}
  </style>
</head>
<body>
  <h1><%=subjects.subject_name %></h1>
  <a href="/">HOME</a>|
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>ID</th>
      <th>Fist Name</th>
      <th>Last Name</th>
      <th>Skor</th>

    </tr>

    <% subjects.Students.forEach(data =>{%>
      <tr>
        <td>&nbsp<%= data.id %></td>
        <td>&nbsp<%= data.first_name%></td>
        <td>&nbsp<%= data.last_name%></td>
        <td>&nbsp<%= data.last_name%></td>
      </tr>
      <% }) %>

  </table>
</body>
</html>
