<!DOCTYPE html>
<html>
<head>
  <title>TEACHER</title>
  <style>
    table{width:500px;border:1px solid #333;}
    table th{padding:5px;background: #ccc; text-align: left;}
    table td{padding:5px;}
  </style>
</head>
<body>
  <h1>TEACHERS</h1>
  <a href="/teachers/add">ADD TEACHER</a>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th>SUBJECT</th>
      <th>Action</th>
    </tr>

    <% teachers.forEach (data =>{%>
      <tr>
        <td>&nbsp<%= data.id %></td>
        <td>&nbsp<%= data.first_name %></td>
        <td>&nbsp<%= data.last_name %></td>
        <td>&nbsp<%= data.email %></td>
        <%if(data.Subject!==null){%>
          <td>&nbsp<%= data.Subject.subject_name%></td>
        <%}else{ %>
          <td>unussigned</td>
        <%}%>  
        <td><a href="/teachers/edit/<%= data.id %>">Edit</a>|<a href="/teachers/delete/<%= data.id %>">Delete</a></td>
      </tr>
      <% }) %>

  </table>
</body>
</html>
